<footer id="footer" class="footer text-center">
    <div class="container">
        <div class="btn-group btn-group-lg">
            <a href="https://facebook.com/scipyla" type="button" class="btn btn-primary btn-social btn-round">
                <span class="icon-6"></span>
            </a>
            <a href="http://twitter.com/scipyla" type="button" class="btn btn-primary btn-social btn-round">
                <span class="icon-7"></span>
            </a>
            <a href="https://plus.google.com/116952396338000992599" type="button"
               class="btn btn-primary btn-social btn-round">
                <span class="icon-8"></span>
            </a>
            <a href="https://ar.linkedin.com/grps/SciPy-Latin-America-8344796/about" type="button"
               class="btn btn-primary btn-social btn-round">
                <span class="icon-9"></span>
            </a>
        </div>
        <p>Copyright 2017 &copy; <a href="http://scipyla.org">SciPy Latinamerica</a></p>
    </div>
</footer>