/* Space at the top for the navbar */

body {
    padding-top: 60px;
}

.vertical-center {
    position: relative;
}

.self-vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body > section > .jumbotron,
body > .jumbotron,
head.main {
    width: 100%;
}

section {
    margin-top: 15px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Badges and labels */

.label.label-round {
    border-radius: 50%;
}

.badge.badge-square {
    border-radius: 2px;
    padding: 1px 0 1px 1px
}

.jumbotron-blue .badge,
.jumbotron-blue .label {
    color: #15355B;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
}

/* Customize container */

@media (min-width: 1250px) {
    .container {
        max-width: 1200px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */

#jumbo-main {
    height: 99vh;
    padding-top: 98px;
}

.carousel-item__container {
    height: calc(100vh - 60px);
    color: #FFFFFF;
}

.no-webp .carousel-item__container--slide-1 {
    background: url('../img/curitiba-rua-das-flores-576.png') no-repeat center;
}

.webp .carousel-item__container--slide-1 {
    background: url('../img/curitiba-rua-das-flores-576.webp') no-repeat center;
}

.carousel-item__container--slide-1 {
    background-size: cover !important;
}

.carousel-item__container--slide-2 {
    background-size: auto 160px;
}

.no-webp .carousel-item__container--slide-2 {
    background: #061220 url('../img/sponsors-bg.jpg') repeat-x bottom;
}

.webp .carousel-item__container--slide-2 {
    background: #061220 url('../img/sponsors-bg.webp') repeat-x bottom;
}

.carousel-item__container--slide-3 {
    background: #061220 url('../img/home.latamtech.png') no-repeat center;
    background-size: cover !important;
}

@media (min-width: 577px) {
    .no-webp .carousel-item__container--slide-1 {
        background-image: url('../img/curitiba-rua-das-flores-768.png');
    }

    .webp .carousel-item__container--slide-1 {
        background-image: url('../img/curitiba-rua-das-flores-768.webp');
    }

    #jumbo-main.slide-2 {
        background-image: url('../img/sponsors-bg.jpg');
    }
}

@media (min-width: 769px) {
    .no-webp .carousel-item__container--slide-1 {
        background-image: url('../img/curitiba-rua-das-flores-992.png');
    }

    .webp .carousel-item__container--slide-1 {
        background-image: url('../img/curitiba-rua-das-flores-992.webp');
    }

    #jumbo-main.slide-2 {
        background-image: url('../img/sponsors-bg.jpg');
    }
}

@media (min-width: 993px) {
    .no-webp .carousel-item__container--slide-1 {
        background-image: url('../img/curitiba-rua-das-flores-1200.png');
    }

    .webp .carousel-item__container--slide-1 {
        background-image: url('../img/curitiba-rua-das-flores-1200.webp');
    }

    #jumbo-main.slide-2 {
        background-image: url('../img/sponsors-bg.jpg');
    }
}

@media (min-width: 1201px) {
    .no-webp .carousel-item__container--slide-1 {
        background-image: url('../img/curitiba-rua-das-flores-1600.png');
    }

    .webp .carousel-item__container--slide-1 {
        background-image: url('../img/curitiba-rua-das-flores-1600.webp');
    }

    #jumbo-main.slide-2 {
        background-image: url('../img/sponsors-bg.jpg');
    }
}

@media (min-width: 1441px) {
    .no-webp .carousel-item__container--slide-1 {
        background-image: url('../img/curitiba-rua-das-flores-2633.png');
    }

    .webp .carousel-item__container--slide-1 {
        background-image: url('../img/curitiba-rua-das-flores-2633.webp');
    }

    #jumbo-main.slide-2 {
        background-image: url('../img/sponsors-bg.jpg');
    }
}

.webp #venue {
    background: url('../img/curitiba-tangua.webp') no-repeat;
}

.no-webp #venue {
    background: url('../img/curitiba-tangua.jpg') no-repeat;
}

#venue {
    background-size: cover;
}

.container .jumbotron {
    border-radius: 0;
    padding-top: 80px;
}

.jumbotron-dark, .jumbotron-blue {
    color: #FFFFFF !important;
    position: relative;
}

.jumbotron {
    text-align: center;
}

.jumbotron .btn-group .btn.btn-default {
    border: none;
    font-size: 14px;
    margin-right: 15px
}

.jumbotron-blue .jumbotron-body {
    background-color: #15355B;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
}

#timeline {
    background-image: url('../img/dotsbg.png');
    background-repeat: repeat;
}

.jumbotron-blue {
    background-color: #0D2946;
    padding: 0 0 10px 0 !important;
}

.jumbotron-dark {
    background-color: #091727;
}

#signup {
    padding: 56px 0 !important;
}

#nav-bottom {
    color: #cccccc;
}

#nav-bottom:hover {
    border: 1px solid #fff;
    color: #fff;
}

#jumbo-main-actions .btn {
    text-transform: uppercase;
}

#jumbo-main .btn-group .btn:hover {
    color: #ffd438;
}

.jumbotron .btn.btn-default {
    background: transparent;
    border-radius: 50%;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 21px;
    text-shadow: 0 0 0 transparent;
}

/* Patterns - Overlays */

.media-left.overlay-target, .media-right.overlay-target,
.media-body.overlay-target {
    display: table-cell;
}

.overlay-target {
    display: inline-block;
    position: relative;
}

.overlay-target-block {
    display: block;
    position: relative;
}

.overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.overlay.bg-grey {
}

.overlay.bg-dark {
    background-color: rgba(9, 23, 39, 0.8);
}

.overlay.bg-primary {

}

.overlay.bg-success {

}

.overlay.bg-info {

}

.overlay.bg-warning {

}

.overlay.bg-danger {
    opacity: 0.8;
    filter: ~ "alpha(opacity=70)";
}

.overlay .glyphicon.center-block {
    left: 50%;
    position: absolute;
    top: 50%;
}

.overlay .glyphicon {
    color: #fff;
    filter: ~ "alpha(opacity=100)";
    opacity: 1.0;
    margin-left: -13px;
    margin-top: -8px;
}

.round-menu-lg .overlay .glyphicon {
    font-size: 24px;
    margin-left: -18px;
    margin-top: -13px;
}

/* Patterns - Visible on hover */

.visible-hover {
    display: none;
}

.hover:hover .visible-hover {
    display: block;
}

/* Conf timeline */

.timeline-scale {
    padding: 0;
}

.timeline-scale hr {
    margin: 0.68em 10% 0 10%;
    padding: 0;
}

.timeline-bullet {
    font-weight: bolder;
    font-size: 20px;
    line-height: 1.0em;
}

/* Gallery */

.section-nospace {
    margin: 0;
}

#gallery .overlay {
    background-image: url(../img/eye-open.svg);
    background-size: 100px;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.marketing .marketing-action a.btn {
    display: inline-block;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Design elements */

.sbgu {
    background: url(../img/sbgu.png) no-repeat;
    position: absolute;
    height: 126px;
    left: 50px;
    background-size: 100px;
    top: 0;
    width: 102px;

}

.sbgl {
    background: url(../img/sbgl.png) no-repeat;
    background-size: 58px;
    bottom: 0;
    height: 54px;
    left: 0;
    position: absolute;
    width: 62px;

}

.sbgr {
    background: url('../img/sbgr.png') no-repeat;
    background-size: 156px;
    bottom: 0;
    height: 157px;
    position: absolute;
    right: 0;
    width: 156px;

}

@media (min-width: 769px) {
    .sbgu {
        left: 130px;
        width: 170px;
        background-size: 168px;
    }

    .sbgl {
        height: 109px;
        width: 114px;
        background-size: 114px;
    }

    .sbgr {
        height: 258px;
        background-size: 260px;
        width: 262px;
    }
}

#analytics .well-xs {
    margin: 0 6px;
}

#fb p.lead {
    margin: 15px 0 0 0;
}

#fb .lead {
    color: #364785;
}

#analytics .btn-social {
    background-image: none;
}

#fb .btn-social, #fb .btn-social:hover, #fb .btn-social:focus {
    background-color: #364785;
}

.force-inline {
    display: inline !important;
}

.legend > div {
    padding: 0;
}

.legend-level {
    border-radius: 50%;
    display: inline-block;
    height: 18px;
    white-space: nowrap;
    vertical-align: middle;
    width: 18px;
}

.legend-level-1 {
    background-color: #aea620;
}

.legend-level-2 {
    background-color: #6c9f6e;
}

.legend-level-3 {
    background-color: #22bad7;
}

.legend-level-4 {
    background-color: #1a6084;
}

.legend-level-5 {
    background-color: #112848;
}

/* Buttons */

.btn-round {
    border-radius: 50% !important;
    padding: 0 !important;
    position: relative;
}

.btn-group .btn-social.btn-round {
    margin: 5px;
}

.btn-social.btn-round {
    height: 34px;
    width: 34px;
}

.btn-social-lg.btn-round {
    height: 90px;
    width: 90px;
}

.btn-round [class^="icon-"] {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.btn-social.btn-round [class^="icon-"] {
    font-size: 26px;
    top: 4px;
}

.btn-social-lg.btn-round [class^="icon-"] {
    font-size: 60px;
    top: 15px;
}

.btn-xs.btn-social .badge-square {
    position: relative;
    height: 13px;
    width: 13px;
}

.btn-xs.btn-social [class^="icon-"] {
    position: absolute;
    left: -4px;
    font-size: 20px;
    top: -4px;
}

.btn-warning:hover, .btn-warning:focus,
.btn-info:hover, .btn-info:focus {
    background: #14365b;
    border: 1px solid #14365b;
    color: #fff;
}

/* Layout */

#planets-img {
    position: relative;
    width: 100%
}

#planets {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 15%;
    padding-left: 20px;
    padding-right: 20px;
}

#planets .img-responsive {
    margin-bottom: 10px;
    width: 75%;
}

.block-align-parent {
    position: relative;
}

.block-align-right {
    position: absolute;
    right: 0;
}

/* Remove ewhen theme is ready */
.track-icon {
    color: #14365B;
}

/* Navbar */

.navbar-brand {
    margin-right: 50px;
    padding: 0 15px 0;
}

@media (min-width: 768px) {
    .navbar-brand img {
        margin: 5px 0;
        height: 50px;
    }
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background: transparent;
}

.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar {
    background-color: #fdc500;
    margin-top: -4px;
}

.navbar-inverse .navbar-toggle:hover .icon-bar + .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar + .icon-bar {
    background-color: #fdc500;
    margin-top: 6px;
}

.navbar-inverse .navbar-toggle {
    border: none;
}

a h1, a h2, a h3, a h4, a h5, a h6 {
    color: #14365b;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

/* Custom components */

.img-inline img {
    display: inline !important;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
    text-align: center;
}

.md img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    max-width: 100%;
}

.md td {
    padding: 7px;
    vertical-align: top;
}

.round-menu.round-menu-lg .media {
    border-radius: 28px;
}

.round-menu .media {
    border-radius: 16px;
    cursor: pointer;
    line-height: 10px;
}

.round-menu .media.bg-dark .media-body,
.round-menu .media.bg-dark .media-heading {
    color: #fff;
}

.round-menu h4.media-heading {
    margin-top: 8px;
}

.round-menu .media:hover h4.media-heading {
    color: #3288b3;
}

.round-menu .media:hover .track-icon {
    background: #3288b3;
    border: none;
    color: #fff;
}

.round-menu li.media {
    padding-left: 0;
}

#ambassadors .round-menu .btn-round {
    border: 3px solid #fff;
}

#ambassadors #legend {
    bottom: 0;
    left: 0;
    position: absolute;
}

#speakers .btn-round, #talks .btn-round {
    border: 3px #fff solid;
    box-shadow: #999 2px 2px 1px 0;
}

#timeline, #analytics {
    margin-bottom: 0;
}

#timeline .label-round {
    border-radius: 50%;
    display: inline-block;
    height: 18px;
    padding: 4px 0 0 1px;
    width: 18px;
}

#timeline .col-xs-1 {
    padding: 0;
}

#organizers img {
    height: 100px;
}

#signup {
    background-color: #091727;
    color: #FFFFFF;
}

.bg-grey {
    background-color: #f5f5f5;
}

.bg-dark {
    background-color: #091727;
}

.row.marketing .marketing-box {
    background-color: #fff;
    position: relative;
}

@media (min-width: 992px) {

    .row.marketing .marketing-box {
        margin: 50px 25px 0 25px;
        padding: 55px 25px 25px 25px;
    }

}

@media (min-width: 768px) {

    .row.marketing .marketing-box {
        padding: 55px 10px 10px 10px;
        margin: 50px 10px 0 10px;
    }

}

/* Marketing pattern */

.row.marketing .marketing-box .marketing-icon {
    display: block;
    height: 90px;
    left: 0;
    margin-top: -45px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.marketing-box .marketing-icon img {
    height: 90px;
    width: 90px;
}

/* Divider in agenda */

#agenda hr {
    margin: 5px;
}

/* Navs */

.nav-pills {
    line-height: 0.7em;
}

.nav-pills > li {
    background-color: #ffd43b;
    border-right: 2px solid #fff;
}

.nav-pills > li.active,
.nav-pills > li.active:hover {
    background-color: #14365b;
}

.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color: #14365b;
    font-weight: 600;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus,
.nav-pills > li:hover {
    background-color: #edbd2b;
}

/* Responsive */

.img-ads {
    background-color: #999;
}

/* Extra-extra small */

@media (max-width: 480px) {

    .img-ads {
        height: 200px;
        width: 280px;
        background-position: -620px 0;
    }

}

/* Extra small */
@media (min-width: 481px) and ( max-width: 767px) {

    .img-ads {
        height: 180px;
        width: 400px;
        background-position: 0 0;
    }

    .modal-footer .btn {
        font-size: 85%;
        line-height: 1.35em;
        padding-top: 0;
        padding-bottom: 0;
    }

    .modal-fixed button.close {
        right: -1px;
        top: -28px;
    }

    .modal-fixed .modal-dialog {
        margin-top: 30px;
    }

    .sbgu {
        background-position: 40px 0;
    }

    #agenda .nav-pills.nav-justified > li {
        float: left;
        width: 23%;
    }

    #agenda .nav-pills.nav-justified > li > a {
        margin-bottom: 0;
    }

    .modal-fixed button.close {
        right: -1px !important;
        top: -28px !important;
    }

    .navbar .navbar-collapse {
        background-color: rgba(51, 51, 51, 0.95);
        max-height: 100%;
        padding-right: 30px;
        position: fixed;
        right: 0;
        top: 0;
        width: 320px;
    }

    .navbar .navbar-toggle {
        position: fixed;
        right: 0;
        z-index: 1090;
    }

}

/* Small */
@media (min-width: 768px) {

    .img-ads {
        height: 160px;
        width: 700px;
        background-position: 0 -215px;
    }

}

/* Medium */
@media (min-width: 992px) {

    .img-ads {
        height: 150px;
        width: 900px;
        background-position: 0 -400px;
    }

}

/* Large */
@media (min-width: 1200px) {
}

/* Marketing */

@media (min-width: 992px) {
    .row.marketing [class^="col-md-"].marketing-action,
    .row.marketing [class*=" col-md-"].marketing-action {
        bottom: 0;
        padding-bottom: 0;
        position: absolute;
    }
}

.row.marketing {
    position: relative;
}

.row.marketing div[class^="col-xs-"], .row.marketing div[class*=" col-xs-"],
.row.marketing div[class^="col-sm-"], .row.marketing div[class*=" col-sm-"],
.row.marketing div[class^="col-md-"], .row.marketing div[class*=" col-md-"],
.row.marketing div[class^="col-lg-"], .row.marketing div[class*=" col-lg-"] {
    padding-bottom: 36px;
}

.row.marketing div {
    position: static;
}

.modal-fixed .modal-dialog,
.modal-fixed .modal-content {
    top: 0;
}

.modal-fixed .modal-footer,
.modal-fixed .modal-dialog,
.modal-fixed .modal-body,
.modal-fixed .modal-content {
    left: 0;
    position: absolute;
    right: 0;
}

.modal-fixed .modal-footer,
.modal-fixed .modal-dialog,
.modal-fixed .modal-content {
    bottom: 0;
}

.modal-fixed .modal-body {
    bottom: 65px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
}

/*
.modal-footer {
  border-top-width: 5px;
  -moz-border-top-colors: black black black black black white white white white black;
  --webkit-border-top-colors: black black black black black white white white white black;
}
*/

.modal-fixed button.close {
    color: #fff;
    opacity: 1;
    position: absolute;
    right: -40px;
    top: -25px;
    z-index: 1051;
}

.modal-fixed button.close:hover {
    color: #ffd438;
}

#planets-satellite {
    animation-name: satellite;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: url('../img/satellite.svg') no-repeat;
    background-size: contain;
    height: 18%;
    position: absolute;
    width: 30%;
}

#planet-la {
    bottom: 0;
    left: 12.5%;
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
    z-index: 20;
}

/* Animations */

@keyframes satellite {
    from {
        height: 9%;
        right: -5%;
        top: -5%;
        width: 15%;
        z-index: 21;
    }
    16% {
        height: 15%;
        right: 0;
        top: 8%;
        width: 25%;
        z-index: 21;
    }
    24% {
        height: 21%;
        right: 20.5%;
        top: 29%;
        width: 35%;
        z-index: 21;
    }
    32% {
        height: 15%;
        right: 41%;
        top: 50%;
        width: 25%;
        z-index: 21;
    }
    48% {
        height: 9%;
        right: 78%;
        top: 78%;
        width: 15%;
        z-index: 21;
    }
    49% {
        height: 9%;
        right: 75%;
        top: 75%;
        width: 15%;
        z-index: 19;
    }
    65% {
        height: 6%;
        right: 50%;
        top: 41%;
        width: 10%;
        z-index: 19;
    }
    81% {
        height: 6%;
        right: 20%;
        top: 0;
        width: 10%;
        z-index: 19;
    }
    99% {
        height: 9%;
        right: -5%;
        top: -5%;
        width: 15%;
        z-index: 19;
    }
    to {
        height: 9%;
        right: -5%;
        top: -5%;
        width: 15%;
        z-index: 21;
    }
}

/*@hack:: modify the bootstrap definitions*/
.local__text p {
    font-size: 1.5rem
}
